body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

.profile {
  width: 30%;
  margin: auto;
  line-height: 2rem;
  letter-spacing: .1em;
}

.chino {
  border-radius: 100%;
  width: 150px;
}

.web-design-img {
  width: 20%;
  float: left;
  margin-right: 50px;
}

/* .web-design-description {
  clear: left;
} */
.bass-guitar-img {
  width: 20%;
  float: right;
  margin-left: 50px;
}

/* .bass-guitar-description {
  clear: right;
} */
h1 {
  color: #f7931e;
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 4.375em;
}

h2 {
  color: #f7931e;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #f05a28;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  line-height: 2;
}

a {
  color: #f05a28;
  font-family: 'Roboto', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.contact-message {
  width: 70%;
  margin: 8% auto 10%;
}

.top-container {
  position: relative;
  background-color: #fff0bc;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #f7931e;
  padding: 50px 0 20px;

}

.contact-me {
  width: 50%;
  margin: 130px auto;
}

.top-cloud {
  position: absolute;
  display: inline-block;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  display: inline-block;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 130px auto;
  text-align: left;
  letter-spacing: .1em;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f7931e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f7931e;
  box-shadow: inset 0px 1px 0px 0px #f7931e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7931e), color-stop(1, #f05a28));
  background: -moz-linear-gradient(center top, #f7931e 5%, #f05a28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931e', endColorstr='#f05a28');
  background-color: ##f7931e;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #f7931e;
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 33px;
  line-height: 33px;
  width: 138px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #f05a28;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f05a28), color-stop(1, #f7931e));
  background: -moz-linear-gradient(center top, #f05a28 5%, #f7931e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05a28', endColorstr='#f7931e');
  background-color: #f05a28;
}

.btn:active {
  position: relative;
  top: 1px;
